## MES

In [1]:
import pandas as pd
import numpy as np
import pyodbc

sql_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=51.222.82.146;DATABASE=STRATEGIO_OLAP_PROTISA;UID=Cesar_VS;PWD=Invernalia!2193;Trusted_Connection=no')
query = "SELECT d.Region,c.Categoria,c.Marca,c.Segmento,DATEPART(MONTH,a.CodigoFecha) AS MONTH,YEAR(a.CodigoFecha) AS YEAR,SUM(a.VentaSinIgv) AS VSIGV FROM [STRATEGIO_OLAP_PROTISA].[pbix].[Ventas] AS a LEFT JOIN [STRATEGIO_OLAP_PROTISA].[pbix].[Producto] AS c ON a.CodigoProductoDistribuidor = c.CodigoProducto LEFT JOIN [STRATEGIO_OLAP_PROTISA].[pbix].[Distribuidor] AS d ON a.CodigoDistribuidor = d.CodigoDistribuidor LEFT JOIN [STRATEGIO_OLAP_PROTISA].[pbix].[Cliente] AS e ON a.CodigoCliente = e.CodigoCliente WHERE YEAR(a.CodigoFecha)>=2017 AND YEAR(a.CodigoFecha)<=2021 AND a.CodigoDistribuidor not in ('20100239559.0','20100239559.1','20100239559.2','20100239559.3','20100239559.7','20100239559.9') AND c.Marca not in ('Ego','Ideal','Sussy') AND a.CodigoDistribuidor IS NOT NULL AND d.Canal NOT IN ('Farmacia') GROUP BY d.Region,c.Categoria,c.Marca,c.Segmento,DATEPART(MONTH,a.CodigoFecha),YEAR(a.CodigoFecha)"
dataset = pd.read_sql(query,sql_conn)

In [2]:
dataset.head()

,Region,Categoria,Marca,Segmento,MONTH,YEAR,VSIGV
0,LIMA,10 Toallas Femeninas,036 Ladysoft,30 Productos Sanitarios,5,2018,1.644216e+06
1,SUR,01 Higiénicos Masivos,003 Noble,10 Masivos,10,2018,3.684648e+06
2,CENTRO-ORIENTE,01 Mascarilla,001 Elite,30 Productos Sanitarios,12,2020,1.746209e+04
3,CENTRO-ORIENTE,02 Rollos de Cocina,001 Elite,10 Masivos,9,2019,5.419860e+05
4,CENTRO-ORIENTE,02 Rollos de Cocina,001 Elite,10 Masivos,1,2021,1.094454e+06

In [3]:
dataset.to_csv('vsigv_mes.csv')

## QUINCENA

In [5]:
sql_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=51.222.82.146;DATABASE=STRATEGIO_OLAP_PROTISA;UID=Cesar_VS;PWD=Invernalia!2193;Trusted_Connection=no')
query = "SELECT d.Region,c.Categoria,c.Marca,c.Segmento,(CASE WHEN DATEPART(DAY, a.CodigoFecha) BETWEEN 1 AND 15 THEN 1 ELSE 2 END) AS Quincena,DATEPART(MONTH, a.CodigoFecha) AS MES,DATEPART(YEAR, a.CodigoFecha) AS AÑO,SUM(a.VENTASINIGV) AS VSIGV FROM [STRATEGIO_OLAP_PROTISA].[pbix].[Ventas] AS a LEFT JOIN [STRATEGIO_OLAP_PROTISA].[pbix].[Producto] AS c ON a.CodigoProductoDistribuidor = c.CodigoProducto LEFT JOIN [STRATEGIO_OLAP_PROTISA].[pbix].[Distribuidor] AS d ON a.CodigoDistribuidor = d.CodigoDistribuidor LEFT JOIN [STRATEGIO_OLAP_PROTISA].[pbix].[Cliente] AS e ON a.CodigoCliente = e.CodigoCliente WHERE DATEPART(YEAR, a.CodigoFecha)>=2017 AND DATEPART(YEAR, a.CodigoFecha)<=2021 AND a.CodigoDistribuidor not in ('20100239559.0','20100239559.1','20100239559.2','20100239559.3','20100239559.7','20100239559.9') AND c.Marca not in ('Ego','Ideal','Sussy') AND a.CodigoDistribuidor IS NOT NULL AND d.Canal NOT IN ('Farmacia') GROUP BY d.Region,c.Categoria,c.Marca,c.Segmento,(CASE WHEN DATEPART(DAY, a.CodigoFecha) BETWEEN 1 AND 15 THEN 1 ELSE 2 END),DATEPART(MONTH, a.CodigoFecha),DATEPART(YEAR, a.CodigoFecha)"
dataset_2 = pd.read_sql(query,sql_conn)

In [6]:
dataset_2.head()

,Region,Categoria,Marca,Segmento,Quincena,MES,AÑO,VSIGV
0,SUR,02 Rollos de Cocina,001 Elite,10 Masivos,1,7,2020,4.433683e+05
1,CENTRO-ORIENTE,02 Rollos de Cocina,001 Elite,10 Masivos,2,6,2020,5.309362e+05
2,CENTRO-ORIENTE,03 Servilletas Masivos,006 Nova,10 Masivos,2,1,2021,3.146259e+05
3,NORTE,03 Servilletas Masivos,006 Nova,10 Masivos,1,9,2019,7.004505e+03
4,CENTRO-ORIENTE,05 Pañales Bebe,008 Babysec,30 Productos Sanitarios,1,6,2018,1.950587e+06

In [7]:
dataset_2.to_csv('vsigv_quincena.csv')

## SEMANAL

In [8]:
sql_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=51.222.82.146;DATABASE=STRATEGIO_OLAP_PROTISA;UID=Cesar_VS;PWD=Invernalia!2193;Trusted_Connection=no')
query = "SELECT d.Region,c.Categoria,c.Marca,c.Segmento,DATEPART(WEEK,a.CodigoFecha) AS WEEK,YEAR(a.CodigoFecha) AS YEAR,SUM(a.VentaSinIgv) AS VSIGV FROM [STRATEGIO_OLAP_PROTISA].[pbix].[Ventas] AS a LEFT JOIN [STRATEGIO_OLAP_PROTISA].[pbix].[Producto] AS c ON a.CodigoProductoDistribuidor = c.CodigoProducto LEFT JOIN [STRATEGIO_OLAP_PROTISA].[pbix].[Distribuidor] AS d ON a.CodigoDistribuidor = d.CodigoDistribuidor LEFT JOIN [STRATEGIO_OLAP_PROTISA].[pbix].[Cliente] AS e ON a.CodigoCliente = e.CodigoCliente WHERE YEAR(a.CodigoFecha)>=2017 AND YEAR(a.CodigoFecha)<=2021 AND a.CodigoDistribuidor not in ('20100239559.0','20100239559.1','20100239559.2','20100239559.3','20100239559.7','20100239559.9') AND c.Marca not in ('Ego','Ideal','Sussy') AND a.CodigoDistribuidor IS NOT NULL AND d.Canal NOT IN ('Farmacia') GROUP BY d.Region,c.Categoria,c.Marca,c.Segmento,DATEPART(WEEK,a.CodigoFecha),YEAR(a.CodigoFecha)"
dataset_3 = pd.read_sql(query,sql_conn)

In [9]:
dataset_3.head()

,Region,Categoria,Marca,Segmento,WEEK,YEAR,VSIGV
0,CENTRO-ORIENTE,10 Toallas Femeninas,036 Ladysoft,30 Productos Sanitarios,49,2020,1.662838e+05
1,CENTRO-ORIENTE,01 Higiénicos Masivos,001 Elite,10 Masivos,22,2019,1.825049e+06
2,NORTE,01 Higiénicos Masivos,001 Elite,10 Masivos,4,2019,7.540100e+06
3,LIMA,11 Toallas Húmedas,008 Babysec,30 Productos Sanitarios,17,2019,2.962010e+04
4,LIMA,01 Higiénicos Masivos,001 Elite,10 Masivos,20,2020,5.359688e+06

In [10]:
dataset_3.to_csv('vsigv_semanal.csv')